$noble-black-100: #e8e9e9;
$noble-black-200: #cdcecf;
$noble-black-300: #9b9c9e;
$noble-black-400: #686b6e;
$noble-black-500: #363a3d;
$noble-black-600: #1a1d21;
$noble-black-700: #131619;
$noble-black-800: #0d0f10;
$noble-black-900: #060708;

$day-blue-100: #ebedfc;
$day-blue-200: #d2d8f9;
$day-blue-300: #a6b0f2;
$day-blue-400: #7989ec;
$day-blue-500: #4d62e5;
$day-blue-600: #3045c9;
$day-blue-700: #243497;
$day-blue-800: #182364;
$day-blue-900: #0c1132;

$purple-blue-100: #f0e8fd;
$purple-blue-200: #deccfb;
$purple-blue-300: #bd9af8;
$purple-blue-400: #9c67f4;
$purple-blue-500: #7c35f1;
$purple-blue-600: #5f18d4;
$purple-blue-700: #47129f;
$purple-blue-800: #300c6a;
$purple-blue-900: #180635;

$sunglow-100: #fffaea;
$sunglow-200: #fff3d1;
$sunglow-300: #ffe8a3;
$sunglow-400: #ffdc75;
$sunglow-500: #ffd147;
$sunglow-600: #e2b42b;
$sunglow-700: #aa8720;
$sunglow-800: #715a15;
$sunglow-900: #392d0b;

$stem-green-100: #f7fdf4;
$stem-green-200: #edfbe6;
$stem-green-300: #dbf7cd;
$stem-green-400: #c8f4b4;
$stem-green-500: #b6f09c;
$stem-green-600: #9ad37f;
$stem-green-700: #739f5f;
$stem-green-800: #4d6a3f;
$stem-green-900: #263520;

$heisenberg-blue-100: #f1fbfe;
$heisenberg-blue-200: #e0f6fd;
$heisenberg-blue-300: #c0edfb;
$heisenberg-blue-400: #a1e4f9;
$heisenberg-blue-500: #82dbf7;
$heisenberg-blue-600: #65beda;
$heisenberg-blue-700: #4c8fa4;
$heisenberg-blue-800: #335f6d;
$heisenberg-blue-900: #193037;

$happy-orange-100: #fff2e9;
$happy-orange-600: #fff2e9;
$happy-orange-900: #391c08;

$electric-green-100: #f3fbf7;
$electric-green-600: #4ac97e;
$electric-green-900: #122b1d;

$red-power-100: #fbecec;
$red-power-600: #d0302f;
$red-power-900: #2f0f0e;

//

$limit: 900;
$i: 100;

@while $i <= $limit {

    @if $i == 100 {
        .noble-black-#{$i} { color: $noble-black-100; }
        .sunglow-#{$i} { color: $sunglow-100; }
        .day-blue-#{$i} { color: $day-blue-100; }
        .purple-blue-#{$i} { color: $purple-blue-100; }
        .heisenberg-blue-#{$i} { color: $heisenberg-blue-100; }
        .stem-green-#{$i} { color: $stem-green-100; }
        .happy-orange-#{$i} { color: $happy-orange-100; }
        .red-power-#{$i} { color: $red-power-100; }
        .electric-green-#{$i} { color: $electric-green-100; }

        .bg-noble-black-#{$i} { background-color: $noble-black-100; }
        .bg-sunglow-#{$i} { background-color: $sunglow-100; }
        .bg-day-blue-#{$i} { background-color: $day-blue-100; }
        .bg-purple-blue-#{$i} { background-color: $purple-blue-100; }
        .bg-heisenberg-blue-#{$i} { background-color: $heisenberg-blue-100; }
        .bg-stem-green-#{$i} { background-color: $stem-green-100; }
        .bg-happy-orange-#{$i} { background-color: $happy-orange-100; }
        .bg-red-power-#{$i} { background-color: $red-power-100; }
        .bg-electric-green-#{$i} { background-color: $electric-green-100; }
    }
    @else if $i == 200 {
        .noble-black-#{$i} { color: $noble-black-200; }
        .sunglow-#{$i} { color: $sunglow-200; }
        .day-blue-#{$i} { color: $day-blue-200; }
        .purple-blue-#{$i} { color: $purple-blue-200; }
        .heisenberg-blue-#{$i} { color: $heisenberg-blue-200; }
        .stem-green-#{$i} { color: $stem-green-200; }

        .bg-noble-black-#{$i} { background-color: $noble-black-200; }
        .bg-sunglow-#{$i} { background-color: $sunglow-200; }
        .bg-day-blue-#{$i} { background-color: $day-blue-200; }
        .bg-purple-blue-#{$i} { background-color: $purple-blue-200; }
        .bg-heisenberg-blue-#{$i} { background-color: $heisenberg-blue-200; }
        .bg-stem-green-#{$i} { background-color: $stem-green-200; }
    }
    @else if $i == 300 {
        .noble-black-#{$i} { color: $noble-black-300; }
        .sunglow-#{$i} { color: $sunglow-300; }
        .day-blue-#{$i} { color: $day-blue-300; }
        .purple-blue-#{$i} { color: $purple-blue-300; }
        .heisenberg-blue-#{$i} { color: $heisenberg-blue-300; }
        .stem-green-#{$i} { color: $stem-green-300; }

        .bg-noble-black-#{$i} { background-color: $noble-black-300; }
        .bg-sunglow-#{$i} { background-color: $sunglow-300; }
        .bg-day-blue-#{$i} { background-color: $day-blue-300; }
        .bg-purple-blue-#{$i} { background-color: $purple-blue-300; }
        .bg-heisenberg-blue-#{$i} { background-color: $heisenberg-blue-300; }
        .bg-stem-green-#{$i} { background-color: $stem-green-300; }
    }
    @else if $i == 400 {
        .noble-black-#{$i} { color: $noble-black-400; }
        .sunglow-#{$i} { color: $sunglow-400; }
        .day-blue-#{$i} { color: $day-blue-400; }
        .purple-blue-#{$i} { color: $purple-blue-400; }
        .heisenberg-blue-#{$i} { color: $heisenberg-blue-400; }
        .stem-green-#{$i} { color: $stem-green-400; }

        .bg-noble-black-#{$i} { background-color: $noble-black-400; }
        .bg-sunglow-#{$i} { background-color: $sunglow-400; }
        .bg-day-blue-#{$i} { background-color: $day-blue-400; }
        .bg-purple-blue-#{$i} { background-color: $purple-blue-400; }
        .bg-heisenberg-blue-#{$i} { background-color: $heisenberg-blue-400; }
        .bg-stem-green-#{$i} { background-color: $stem-green-400; }
    }
    @else if $i == 500 {
        .noble-black-#{$i} { color: $noble-black-500; }
        .sunglow-#{$i} { color: $sunglow-500; }
        .day-blue-#{$i} { color: $day-blue-500; }
        .purple-blue-#{$i} { color: $purple-blue-500; }
        .heisenberg-blue-#{$i} { color: $heisenberg-blue-500; }
        .stem-green-#{$i} { color: $stem-green-500; }

        .bg-noble-black-#{$i} { background-color: $noble-black-500; }
        .bg-sunglow-#{$i} { background-color: $sunglow-500; }
        .bg-day-blue-#{$i} { background-color: $day-blue-500; }
        .bg-purple-blue-#{$i} { background-color: $purple-blue-500; }
        .bg-heisenberg-blue-#{$i} { background-color: $heisenberg-blue-500; }
        .bg-stem-green-#{$i} { background-color: $stem-green-500; }
    }
    @else if $i == 600 {
        .noble-black-#{$i} { color: $noble-black-600; }
        .sunglow-#{$i} { color: $sunglow-600; }
        .day-blue-#{$i} { color: $day-blue-600; }
        .purple-blue-#{$i} { color: $purple-blue-600; }
        .heisenberg-blue-#{$i} { color: $heisenberg-blue-600; }
        .stem-green-#{$i} { color: $stem-green-600; }
        .happy-orange-#{$i} { color: $happy-orange-600; }
        .red-power-#{$i} { color: $red-power-600; }
        .electric-green-#{$i} { color: $electric-green-600; }

        .bg-noble-black-#{$i} { background-color: $noble-black-600; }
        .bg-sunglow-#{$i} { background-color: $sunglow-600; }
        .bg-day-blue-#{$i} { background-color: $day-blue-600; }
        .bg-purple-blue-#{$i} { background-color: $purple-blue-600; }
        .bg-heisenberg-blue-#{$i} { background-color: $heisenberg-blue-600; }
        .bg-stem-green-#{$i} { background-color: $stem-green-600; }
        .bg-happy-orange-#{$i} { background-color: $happy-orange-600; }
        .bg-red-power-#{$i} { background-color: $red-power-600; }
        .bg-electric-green-#{$i} { background-color: $electric-green-600; }
    }
    @else if $i == 700 {
        .noble-black-#{$i} { color: $noble-black-700; }
        .sunglow-#{$i} { color: $sunglow-700; }
        .day-blue-#{$i} { color: $day-blue-700; }
        .purple-blue-#{$i} { color: $purple-blue-700; }
        .heisenberg-blue-#{$i} { color: $heisenberg-blue-700; }
        .stem-green-#{$i} { color: $stem-green-700; }

        .bg-noble-black-#{$i} { background-color: $noble-black-700; }
        .bg-sunglow-#{$i} { background-color: $sunglow-700; }
        .bg-day-blue-#{$i} { background-color: $day-blue-700; }
        .bg-purple-blue-#{$i} { background-color: $purple-blue-700; }
        .bg-heisenberg-blue-#{$i} { background-color: $heisenberg-blue-700; }
        .bg-stem-green-#{$i} { background-color: $stem-green-700; }
    }
    @else if $i == 800 {
        .noble-black-#{$i} { color: $noble-black-800; }
        .sunglow-#{$i} { color: $sunglow-800; }
        .day-blue-#{$i} { color: $day-blue-800; }
        .purple-blue-#{$i} { color: $purple-blue-800; }
        .heisenberg-blue-#{$i} { color: $heisenberg-blue-800; }
        .stem-green-#{$i} { color: $stem-green-800; }

        .bg-noble-black-#{$i} { background-color: $noble-black-800; }
        .bg-sunglow-#{$i} { background-color: $sunglow-800; }
        .bg-day-blue-#{$i} { background-color: $day-blue-800; }
        .bg-purple-blue-#{$i} { background-color: $purple-blue-800; }
        .bg-heisenberg-blue-#{$i} { background-color: $heisenberg-blue-800; }
        .bg-stem-green-#{$i} { background-color: $stem-green-800; }
    }
    @else if $i == 900 {
        .noble-black-#{$i} { color: $noble-black-900; }
        .sunglow-#{$i} { color: $sunglow-900; }
        .day-blue-#{$i} { color: $day-blue-900; }
        .purple-blue-#{$i} { color: $purple-blue-900; }
        .heisenberg-blue-#{$i} { color: $heisenberg-blue-900; }
        .stem-green-#{$i} { color: $stem-green-900; }
        .happy-orange-#{$i} { color: $happy-orange-900; }
        .red-power-#{$i} { color: $red-power-900; }
        .electric-green-#{$i} { color: $electric-green-900; }

        .bg-noble-black-#{$i} { background-color: $noble-black-900; }
        .bg-sunglow-#{$i} { background-color: $sunglow-900; }
        .bg-day-blue-#{$i} { background-color: $day-blue-900; }
        .bg-purple-blue-#{$i} { background-color: $purple-blue-900; }
        .bg-heisenberg-blue-#{$i} { background-color: $heisenberg-blue-900; }
        .bg-stem-green-#{$i} { background-color: $stem-green-900; }
        .bg-happy-orange-#{$i} { background-color: $happy-orange-900; }
        .bg-red-power-#{$i} { background-color: $red-power-900; }
        .bg-electric-green-#{$i} { background-color: $electric-green-900; }
    }

    $i: $i + 100;
}
